
header h1{
    text-align: center;
    background-size: cover;
    height: 90%;
    padding-top: 150px;
    font-size: 50px;
    padding: 10px;
}

.DC{
    color: orange;
}

.PraRoz{
    font-weight: bold;
    color: orange;
}

nav{
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
}